Тема “Вычисления с помощью Numpy”

Задание 1.

In [105]:
import numpy as np

In [106]:
a = np.array([[ 1, 6],
[ 2, 8],
[ 3, 11],
[ 3, 10],
[ 1, 7]])

In [107]:
mean_a = a.mean(axis=0)
mean_a

array([2. , 8.4])

Задание 2.

In [108]:
a_centered = np.subtract(a, mean_a)
a_centered

array([[-1. , -2.4],
       [ 0. , -0.4],
       [ 1. ,  2.6],
       [ 1. ,  1.6],
       [-1. , -1.4]])

Задание 3.

In [109]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]
a_centered_sp

8.0

In [110]:
a_centered_sp / (a_centered.shape[0] - 1)

2.0

Задание 4.

In [111]:
b = np.cov(a.T)
b[0, 1]

2.0

Задание 5.

In [112]:
z = np.random.randint(-50, 51, 8)

print(z)

[ 18  18 -33 -23 -22  15  -6  -2]

In [113]:
np.where(z > 0)

(array([0, 1, 5], dtype=int64),)

Задание 6.

In [114]:
X = np.random.randint(0, 255, (10, 5))

print(X)

[[ 48 178  95  94 109]
 [194  28  50  66 120]
 [163 231 206 109   6]
 [181 161   6 107  20]
 [153   0  65 252 176]
 [149  54 220 121 175]
 [228 236  56  78 208]
 [189  52 174 227 254]
 [ 66 111  15 117 144]
 [149  35 181 189 143]]

In [115]:
mean_X = X.mean(axis=0)
mean_X

array([152. , 108.6, 106.8, 136. , 135.5])

In [116]:
std_X = X.std(axis=0)
std_X

array([53.01131955, 82.86881199, 76.78385247, 60.6052803 , 73.26697755])

In [117]:
X_standard = (X - mean_X) / std_X
X_standard

array([[-1.96184515,  0.83746826, -0.15367814, -0.69300892, -0.36169091],
       [ 0.79228362, -0.97262164, -0.73973887, -1.15501487, -0.21155506],
       [ 0.20750285,  1.47703336,  1.2919383 , -0.44550574, -1.76750842],
       [ 0.54705297,  0.63232474, -1.31277602, -0.47850616, -1.57642643],
       [ 0.0188639 , -1.31050509, -0.54438529,  1.91402464,  0.5527729 ],
       [-0.05659169, -0.65887273,  1.4742683 , -0.24750319,  0.53912419],
       [ 1.43365607,  1.53736969, -0.66159744, -0.95701232,  0.98953174],
       [ 0.69796414, -0.68300726,  0.87518401,  1.50151933,  1.61737257],
       [-1.62229503,  0.02896144, -1.19556387, -0.31350404,  0.11601407],
       [-0.05659169, -0.88815078,  0.96634901,  0.87451126,  0.10236535]])

In [118]:
X_standard.mean(axis=0)

array([ 7.63278329e-18,  7.77156117e-17,  4.44089210e-17, -1.11022302e-17,
       -8.32667268e-18])

In [119]:
X_standard.std(axis=0)

array([1., 1., 1., 1., 1.])

Задание 7.

In [120]:
x = np.random.randn(512)
x

array([-1.28594938e-01,  9.49464489e-01, -1.53981564e+00,  1.38490406e+00,
        8.90849266e-01, -2.90153534e-01,  6.94270824e-01, -9.14480756e-01,
        1.07842895e+00, -2.01276133e+00, -1.73997484e+00, -4.72168562e-01,
       -2.06908929e+00,  5.46887968e-01,  2.71395824e+00,  1.18098066e+00,
        1.32781851e+00,  6.69562242e-01, -1.21149520e+00,  7.81402993e-01,
       -1.17000551e+00, -2.22342376e+00, -2.05909822e+00, -1.72724212e+00,
       -5.28567490e-01,  3.29625423e-01, -3.60463197e-01, -4.19079897e-01,
       -7.66709011e-01, -4.13296590e-01, -3.02938497e-01, -4.66473872e-01,
       -1.52650911e+00,  6.12510313e-01,  5.95085953e-01,  2.03662584e-01,
       -6.54640680e-01, -7.45748648e-01, -1.54692970e+00, -1.02182535e+00,
       -1.71513251e+00,  9.05101524e-01, -1.62358077e+00,  1.55825452e+00,
       -1.88912154e-02,  1.72868712e+00,  8.23302130e-01, -9.50339139e-01,
        5.75520550e-01,  6.21098714e-01, -1.29680828e+00,  9.50576380e-01,
        5.19435814e-01,  3.61138496e-01,  3.32972731e-01, -1.97878969e+00,
       -1.83744527e-01,  2.05595282e+00, -2.04873315e+00, -1.33200788e+00,
       -1.32956245e+00, -3.84524322e-01,  1.67082043e+00, -1.78086028e+00,
        9.92453655e-01,  4.25272292e-01,  7.39138995e-02,  1.42964531e-01,
        1.48140920e+00,  1.29442135e+00,  9.05870726e-01, -6.64762064e-01,
       -8.32074690e-01,  1.67483368e+00, -5.55500346e-01,  3.77586299e-01,
       -1.10470435e+00, -3.73041642e-02, -1.41299715e+00,  1.63122649e-01,
        1.94497732e+00,  1.00048733e-01, -2.37877229e+00, -7.96411843e-01,
       -1.60915505e+00, -8.20612924e-03, -2.72179976e+00, -5.34405226e-01,
       -8.77159107e-01,  8.56242364e-01,  5.86117367e-01, -5.07943522e-01,
        1.12680012e+00,  5.76978862e-01,  1.60724216e-01,  6.01478739e-01,
       -3.17474430e-01, -8.08854333e-01,  1.89558411e+00,  2.29713999e-01,
       -7.04493251e-02,  1.95706771e+00, -1.76643562e-01,  6.72475555e-02,
       -1.47640416e+00, -1.80767678e-01,  5.69232143e-01, -5.94435430e-01,
        4.97136258e-02,  1.94997085e-01,  6.21679996e-01, -1.08834089e-01,
       -4.54448997e-01, -1.49475305e-01,  2.65912844e-02,  8.10867950e-01,
        3.64342216e-01,  1.20813971e-01,  1.01499728e+00,  1.61397793e+00,
       -1.27529936e+00, -1.62414346e+00,  1.33116327e+00,  3.57248249e-01,
        7.72947904e-01,  5.23562675e-01,  1.12098995e-01,  1.15966804e+00,
        8.00736872e-02, -4.06915995e-01, -8.25432452e-01, -1.74860823e+00,
       -1.97903798e-01,  1.50332346e-01,  5.52667379e-02,  2.89102564e-01,
       -8.23249609e-01, -6.39346619e-01,  7.59692976e-01,  2.05144384e+00,
        4.96446159e-01, -1.88182563e+00, -6.23174902e-01,  1.09676787e+00,
        3.42615843e-01,  1.33887267e+00,  2.55041387e+00,  3.47157232e-01,
       -1.46831481e-01, -8.11186202e-01,  8.27640623e-01, -9.83531514e-01,
       -4.02161814e-01,  1.06179511e+00,  1.50844612e+00, -6.97479189e-01,
        2.34044689e+00, -1.03462235e+00, -1.80883722e+00,  5.08772335e-01,
        3.41173742e-01,  1.07075134e+00, -4.40943420e-01, -3.42554502e-01,
        9.11322218e-01,  6.16372732e-01,  5.27051611e-01, -6.62502524e-01,
       -1.54187430e-01, -1.08144741e+00,  8.21576266e-01, -8.30422044e-01,
       -1.97722791e-01, -1.20396858e-01,  4.23653381e-01, -7.53327969e-02,
       -1.15751125e+00, -7.37285695e-02,  3.62244590e-01,  2.38663705e-01,
        3.01681728e-01,  1.33673988e+00,  8.88801668e-01,  5.29412672e-01,
       -6.44514279e-02, -1.48012474e+00, -3.04273773e-01,  2.87645435e-01,
        6.08892974e-01,  1.11272944e+00, -2.31129862e-01,  7.20753818e-02,
       -1.95136812e+00,  8.51433405e-01, -1.60226288e+00, -1.05347740e+00,
       -2.82472038e-01, -2.36543817e+00,  3.62183514e-01,  1.14845325e+00,
        8.82074121e-01,  1.26212002e+00,  1.59981598e+00,  6.22274170e-01,
       -1.04831127e+00,  1.20024511e+00, -5.63513773e-01,  4.53258549e-02,
       -8.45224023e-01, -4.32193737e-01,  2.41010480e-01, -5.27683951e-01,
       -4.74569360e-01,  8.59237449e-01,  1.47035887e+00,  6.67803827e-01,
       -3.05686620e-01,  2.42017641e-01, -5.31994686e-02,  1.49750185e+00,
       -6.36706350e-01,  1.40793468e-01,  1.84977369e-01, -6.30504658e-01,
        5.73906749e-01, -1.60050814e+00, -9.28834357e-01, -2.58467797e+00,
       -1.50270968e-02,  3.88783033e-01,  1.15875910e+00,  1.82469473e+00,
       -1.28631761e+00, -1.54999173e+00,  1.08730427e+00,  1.01695911e+00,
       -2.49235471e-01,  3.25632505e-01, -8.63760527e-01, -1.33814733e-01,
        2.28806862e-01,  5.10865193e-01, -2.19351436e+00,  1.33943454e+00,
        9.46153979e-01,  1.38456453e+00, -1.13337924e+00,  2.17942391e-01,
        8.24811052e-01, -1.39709857e+00,  5.63920035e-01, -4.52510894e-01,
       -6.39254387e-01, -1.02007650e+00,  1.52604454e+00, -4.67700268e-01,
        9.20105994e-01,  5.61352616e-01, -2.66756688e-01,  4.98618237e-01,
       -7.44161551e-01, -1.40721884e+00, -1.62258576e+00, -3.04923625e-01,
        9.32325833e-01, -8.63201241e-01, -1.97503228e+00,  2.37894775e-01,
        1.70005578e-01,  1.03139571e+00,  3.06463905e-01,  3.55521678e-01,
       -2.53420291e-01,  1.00374252e+00, -1.91700795e-02, -2.09803609e-02,
        8.88952959e-01, -8.55162719e-02, -1.14537449e+00,  1.91805508e-01,
       -2.07309336e-01,  1.09641939e+00, -2.00314505e+00,  1.80319029e+00,
       -4.19913445e-02,  1.20139550e+00, -1.53423479e+00,  6.16406465e-01,
        1.45034351e+00, -1.10097502e+00,  1.95693352e+00, -9.65894469e-02,
        1.91134166e+00, -1.64428451e+00, -7.05970975e-02,  1.44150938e+00,
       -3.10009507e-01,  2.19852393e-01, -3.75018712e-01, -1.07788541e+00,
       -1.12381810e+00,  2.81337104e-01, -4.81111605e-01,  9.31481950e-01,
       -1.32277156e-01, -1.64471724e-01, -1.40704036e-01,  3.08708118e-01,
       -2.50627723e+00, -1.54579585e+00, -1.81972149e+00,  1.10706229e+00,
       -1.50053892e+00,  5.50452163e-01,  4.01264664e-01,  1.67419356e+00,
        7.72207921e-01, -6.86880609e-01, -4.16617384e-01,  8.63691892e-01,
        1.16014325e+00, -3.23731897e-01,  1.20024382e-01,  1.45413899e+00,
        7.16550434e-01, -5.09738556e-02,  1.21145505e+00, -5.29743949e-01,
       -1.12888835e+00,  8.23207042e-01,  7.06288314e-02,  1.53952118e+00,
       -5.38131618e-01,  3.15393833e-01,  1.71097830e-01, -4.96138510e-01,
        1.00182783e+00, -5.79535997e-01, -1.01587852e-01,  5.58859725e-02,
       -2.54743178e+00,  4.34350060e-01,  1.26210848e-01,  5.74414718e-01,
       -3.33793386e-01,  1.34677948e-01,  3.61037163e-01, -4.41422976e-01,
       -1.34758290e+00,  2.44253381e+00, -1.10942595e+00, -1.30798872e+00,
       -1.20534781e+00,  2.99604465e-03, -4.43269429e-01, -2.43972448e+00,
        3.53890728e-02,  5.09099018e-01, -7.51911114e-01, -3.76488528e-01,
       -1.02665426e-01,  9.49513433e-01,  2.21382902e-01, -4.28443950e-02,
       -1.03131101e+00, -3.33708189e-01, -1.63408186e+00, -3.97223212e-01,
        6.97152607e-01,  2.24991701e-01,  6.19198783e-01,  4.30389690e-01,
        1.51417228e-01,  3.85831751e-01,  1.44292796e+00,  2.44959689e-01,
        1.01798685e+00, -1.03497346e+00, -3.60569960e-01,  1.18979840e+00,
       -2.43516414e-01,  1.65892085e+00, -1.06056257e+00,  3.32346760e-02,
       -5.08663201e-01,  3.51939669e-01,  7.90600738e-01, -4.67391916e-01,
        1.12105285e-01, -1.62495349e-01, -1.81968257e+00, -5.24582856e-01,
        1.00847938e+00, -5.27262745e-01,  2.38092767e-01, -1.97512006e+00,
        2.09203407e+00, -4.59133499e-01,  1.21021739e-01, -3.70730728e-01,
       -4.23742481e-01, -1.04584556e+00,  1.02822541e+00,  1.44914936e-01,
       -7.03360490e-01,  5.95271403e-01,  7.30688818e-01, -1.20624595e+00,
       -5.64525864e-01,  5.46407875e-01, -1.39285629e+00, -3.78493271e-02,
       -5.87919602e-01, -7.32903177e-01, -1.12007016e+00,  2.48061703e+00,
       -1.35219516e+00,  7.51480529e-01, -2.04056171e-01, -5.59979230e-01,
       -6.68207419e-01,  1.99532143e-01, -1.08320423e+00, -7.80283152e-01,
        3.40020922e-01, -1.95554259e-01,  1.31928065e+00, -2.52635600e-01,
       -2.81533587e-01,  4.46595705e-01,  1.93742560e-01,  4.52479469e-01,
       -1.03989898e+00,  1.05523780e+00,  3.26464963e-01,  4.97194670e-01,
       -4.94024097e-03, -1.83353400e+00, -3.52186214e-01,  5.95326556e-01,
       -1.24507299e+00, -1.34304512e-01,  1.12340015e+00,  8.35255696e-01,
        1.02313041e+00, -3.24807214e-01,  9.67326502e-01,  1.71398484e-01,
        4.73478968e-02,  3.31603804e+00,  1.20426949e+00, -6.71151291e-01,
        3.45053223e-02, -6.57904353e-01,  7.92444422e-01, -1.32987313e+00,
        1.19069643e+00,  6.90115630e-02,  1.05592068e-01,  8.86562260e-01,
       -1.37449509e-01, -4.78683208e-01, -9.16500397e-01,  4.83908144e-02,
        1.01686777e+00, -6.31352276e-01,  4.17750938e-02, -1.84039134e+00,
        2.04823784e+00, -6.03966674e-01,  8.37366439e-01,  2.58057451e-01,
        9.06331910e-01,  1.10267748e+00, -1.47508522e-03,  5.76546878e-01,
       -6.00004644e-01, -7.27665683e-01, -5.98546706e-03, -4.99284455e-02,
        7.57345955e-01, -2.18346315e-01,  1.69348158e+00, -1.88103228e-01,
       -7.97833183e-01,  1.14705578e+00, -1.03683770e-01,  3.69271468e-01,
       -1.40720947e+00, -5.46476564e-01, -8.48563266e-02,  1.33350808e+00,
        5.88606321e-01, -6.08439941e-01, -2.87883620e-02, -7.81861435e-01,
        4.82941471e-01, -2.76886123e-01, -4.25088370e-01,  5.72447808e-01,
        8.18220617e-01,  4.04561264e-01,  6.46074618e-01,  8.28246775e-01,
        6.83593620e-01, -1.43252378e+00,  1.61385086e+00,  4.71755088e-01,
       -7.65352934e-01, -1.23901314e-01, -4.01892352e-01,  2.13714732e+00])

In [121]:
y = np.random.randn(512)
y

array([ 1.28910795,  1.31893911,  1.36208312,  0.04854767,  0.1359406 ,
       -1.36168183,  0.72523697,  0.28308548, -0.49160991,  0.26615938,
        0.09704911,  1.03457128,  0.18775448, -0.81147496, -0.29237305,
       -0.43915282,  1.47877715,  2.80487922,  1.25418662, -1.01668367,
       -0.69141474, -1.38971142, -1.66457691,  0.74075974,  1.49215285,
        1.79986064, -0.03861758,  0.26343581, -0.80117269,  0.76757642,
       -0.08572757, -0.10817274,  0.47633843, -0.67561469,  2.13367425,
       -1.45703008,  1.01886932, -1.04414289,  0.21233975,  0.08985889,
        0.22418393,  1.11961781,  0.84668852, -0.51775713,  0.34000436,
       -0.08294581,  0.01702592, -0.46187676, -0.74767683, -1.50448895,
       -1.1107316 ,  1.57687394,  0.17706791, -0.22447057,  0.85411798,
       -0.42986883, -0.45240359,  0.71390738, -0.79634233,  1.38183865,
       -2.03894459, -0.09718861,  1.19511686, -0.4508256 ,  0.5880953 ,
       -1.00880147, -2.28066166,  0.75849464,  0.20849935,  0.06932636,
        1.834032  ,  2.24605185,  1.04878313, -0.65575929,  1.19016178,
       -0.37603996, -1.12010453, -0.7209741 ,  1.01898498, -1.20684933,
        0.14724648, -1.19425365, -0.86378143,  0.06414484,  0.54908658,
        0.60142298,  0.97472574,  0.85086306, -1.9201039 , -0.43640639,
        1.06243869, -1.22367027, -0.2831004 , -0.67695531, -0.97923366,
        0.70040163,  0.52347035,  2.18289159,  0.70149742,  0.66693415,
        2.23618132,  2.23777507, -1.76979541,  0.28393923,  0.14541998,
       -0.40009571,  1.6116832 ,  0.28409131,  0.97419219, -1.01721757,
        0.55983217,  0.78997967, -0.12870573, -1.19677343, -0.14868162,
       -0.10639205,  0.88395254,  0.82520633, -0.3217019 , -0.33812435,
       -0.17859209, -0.40609076, -0.04800038, -0.25810386, -1.00902981,
       -0.19877089,  1.17151942,  1.22653628,  0.22603011, -0.55460578,
        2.34708962, -0.54041544, -0.77244856, -0.98606938,  0.95841946,
        1.17109777,  2.14861886,  0.27451458, -0.43852571,  1.38353017,
        0.6280962 ,  1.13328016,  1.42370466,  0.54846387,  0.65745693,
       -1.04188724, -0.13817548,  1.5000301 , -1.91396797,  0.3024965 ,
       -1.04813566, -0.63890233, -1.9598697 , -0.09322913, -0.97317823,
       -0.08578852,  1.25709804,  0.33600456, -1.22033277, -0.05776687,
        1.83783918, -2.53891302,  1.49666191, -0.167443  , -0.73425691,
        1.78232953,  0.0320459 , -0.21379181,  0.74642659,  0.03278166,
       -2.16270727, -0.60660151, -0.18694693,  1.42581081,  0.31965661,
        0.94189366,  0.96248112, -0.43533446, -1.98990393,  0.35500207,
       -0.14025429, -0.03392184,  0.0417752 , -1.10153896, -0.69499289,
        0.04936713, -0.84385667,  0.07272221, -1.6090027 ,  0.71393012,
        1.08625485,  0.82965514,  0.0054471 , -0.80944713,  0.99753344,
       -1.943169  ,  0.48252668,  0.06046958,  0.60958271,  0.22905214,
        0.35283307,  0.01823317, -2.0687534 , -0.13835189,  1.60478892,
       -2.57119363,  0.02725491, -2.28791113,  0.33701889,  0.26904131,
        0.22308913, -1.7182289 ,  1.44211581, -1.85450195,  0.67477614,
       -0.90275929, -0.04384588,  1.00735971, -0.03284775,  0.50343637,
        0.24790959,  2.0016906 ,  0.33840672, -0.98589469, -1.92441651,
       -0.64519149, -1.08297326,  0.952435  ,  0.68565633, -0.96493212,
        1.04250231,  2.71746056, -0.28134203, -0.32589865, -0.82816032,
        1.1161309 , -0.63871811,  1.68588953,  0.766124  , -0.09648392,
        1.2718832 , -0.42563709, -2.04586858, -0.13276176, -0.366071  ,
        1.18912157,  0.14435867,  1.59977783,  0.66718015, -0.30664033,
       -2.09103849,  0.4340682 ,  0.80718738, -0.81291271, -1.69105135,
        1.07022173, -0.59500832,  0.81661792,  1.1298689 ,  1.93656642,
       -0.29984   , -0.80692627, -0.29783141, -1.6194384 , -0.89249176,
        1.24855658,  0.84133039,  0.76635998,  0.46592729, -0.56302919,
        0.14718945, -0.85750033, -1.01639448, -0.05836038, -0.09839325,
       -0.74712189,  0.3808937 , -1.22644429, -1.34236625,  0.88533913,
        1.4774248 , -0.40401041, -0.13437559, -0.70463802,  1.65545768,
        0.98855323,  0.62501195, -0.64366188, -0.61441021,  0.29571314,
       -1.83813002, -0.50213451,  0.94590522, -0.65531699,  1.34077966,
       -0.95927981,  1.26298395,  0.52706763, -1.53111107, -1.76559775,
        0.30454992, -0.74821324, -0.6417617 , -0.39158254,  0.28282745,
        0.86003777,  0.51017361, -0.90757397, -1.6952441 ,  0.2954284 ,
       -0.15501356, -0.53244494, -0.29617203, -0.67165767,  0.18830869,
       -0.10062644, -0.86458605,  0.02454663, -1.20830296, -1.83134677,
       -0.90306216, -3.23518312, -0.69825436,  1.30901401,  0.15727151,
       -0.78076995, -0.67218159,  0.24340652,  0.25255139,  0.0294761 ,
        0.51729028, -1.36875165, -1.26358433,  0.22752886, -0.53074135,
       -0.12089207,  0.39116714, -0.31621695, -2.73865229,  1.71283856,
       -0.06924111,  0.0951024 ,  0.19931884, -2.15585053,  1.61487141,
       -0.18666583, -0.19457911,  1.11891289,  0.38895319, -0.23145547,
       -2.39074872, -1.5692767 , -1.24330989, -2.01252995,  0.47850639,
       -0.85809065, -1.34538059,  0.75110236, -0.71243115, -1.11270526,
        0.5622772 ,  0.67536314, -0.49329557, -1.82606858,  1.1070337 ,
       -1.28511892,  1.12996477,  0.11108052,  2.09668622,  0.54194957,
       -1.05486385,  0.84459404, -0.92074995,  0.21142518,  1.01038943,
       -0.1936262 , -0.74350501,  1.49781147, -1.95270099, -0.61546896,
       -1.74146682, -0.07797741,  1.14514465,  0.07105816,  0.4958329 ,
        0.79645135, -0.14520162,  1.83948036,  1.81450827, -0.16301803,
       -2.54689253,  0.83901303, -0.88433086, -0.39754233,  0.48495289,
        0.76929779, -0.18392665,  0.02879011,  0.18054805,  0.37158105,
       -0.56484206, -0.65548177, -0.24532482,  0.86774377, -2.00835206,
        0.11869564, -0.83646683, -1.33520572,  0.29676658,  1.34653868,
       -0.62252314, -1.34535793, -1.11360332,  1.02408851,  1.21565611,
       -0.67224643, -0.45932528,  0.2407221 ,  0.09204607, -1.01795779,
        1.15268443, -1.48441876, -1.22582977, -0.42428572,  0.94593073,
        0.34768875, -0.7349921 ,  0.32973983,  0.04749667, -0.00466217,
       -1.47464643, -1.5141722 ,  1.42896112,  0.14864445,  1.06343865,
        1.22791083, -1.19989933,  2.57563228, -0.19942185, -0.98468982,
        0.86735357, -2.18878566, -1.33979146, -1.60070464,  1.46384314,
        0.83594038, -0.67931875, -0.55902979, -1.83081498,  0.09446319,
       -0.0572535 ,  0.07361631,  0.44373848, -0.19752981,  0.54710633,
        1.44040247, -0.66449948, -1.28242076, -0.57618818,  1.15960903,
        1.43140519, -0.62894464, -0.31337462,  0.43925421,  0.18124453,
       -0.17024291, -0.24973168,  0.24157175,  0.38028044, -0.78100627,
        1.76369731, -0.83219533,  0.22565879,  0.59277166,  1.05754182,
        1.19844023, -0.10077237,  0.46764864, -1.3370906 ,  0.55173786,
       -0.36869458, -1.91505535, -0.75407367, -1.24749959, -0.29731535,
       -0.32336603, -1.60602128, -0.56597223,  0.21876178, -0.86603103,
       -0.02081175,  0.30279862,  0.25622918,  0.88940684,  0.81253299,
        0.45560256, -0.15209354,  1.81002033, -1.40813148, -0.35966802,
       -1.59304192, -0.27046527, -0.44667852, -0.75403475, -0.32871623,
        1.25763127,  0.20225321, -0.57680697,  0.8172048 ,  0.40956898,
       -0.78037088, -1.41170917])

In [122]:
c = x - y
c

array([-1.41770289e+00, -3.69474618e-01, -2.90189876e+00,  1.33635639e+00,
        7.54908662e-01,  1.07152830e+00, -3.09661436e-02, -1.19756624e+00,
        1.57003886e+00, -2.27892071e+00, -1.83702395e+00, -1.50673984e+00,
       -2.25684377e+00,  1.35836293e+00,  3.00633129e+00,  1.62013348e+00,
       -1.50958641e-01, -2.13531698e+00, -2.46568181e+00,  1.79808667e+00,
       -4.78590772e-01, -8.33712335e-01, -3.94521310e-01, -2.46800186e+00,
       -2.02072034e+00, -1.47023522e+00, -3.21845616e-01, -6.82515704e-01,
        3.44636829e-02, -1.18087301e+00, -2.17210923e-01, -3.58301128e-01,
       -2.00284754e+00,  1.28812500e+00, -1.53858830e+00,  1.66069267e+00,
       -1.67351000e+00,  2.98394245e-01, -1.75926945e+00, -1.11168424e+00,
       -1.93931644e+00, -2.14516282e-01, -2.47026929e+00,  2.07601165e+00,
       -3.58895571e-01,  1.81163293e+00,  8.06276208e-01, -4.88462383e-01,
        1.32319738e+00,  2.12558766e+00, -1.86076688e-01, -6.26297559e-01,
        3.42367902e-01,  5.85609065e-01, -5.21145248e-01, -1.54892087e+00,
        2.68659061e-01,  1.34204544e+00, -1.25239081e+00, -2.71384653e+00,
        7.09382142e-01, -2.87335709e-01,  4.75703574e-01, -1.33003469e+00,
        4.04358360e-01,  1.43407376e+00,  2.35457556e+00, -6.15530106e-01,
        1.27290986e+00,  1.22509499e+00, -9.28161274e-01, -2.91081391e+00,
       -1.88085782e+00,  2.33059297e+00, -1.74566213e+00,  7.53626260e-01,
        1.54001781e-02,  6.83669932e-01, -2.43198214e+00,  1.36997198e+00,
        1.79773084e+00,  1.29430239e+00, -1.51499086e+00, -8.60556682e-01,
       -2.15824162e+00, -6.09629112e-01, -3.69652550e+00, -1.38526828e+00,
        1.04294479e+00,  1.29264875e+00, -4.76321319e-01,  7.15726746e-01,
        1.40990052e+00,  1.25393417e+00,  1.13995788e+00, -9.89228946e-02,
       -8.40944783e-01, -2.99174592e+00,  1.19408668e+00, -4.37220156e-01,
       -2.30663064e+00, -2.80707360e-01,  1.59315185e+00, -2.16691671e-01,
       -1.62182413e+00,  2.19328037e-01, -1.04245105e+00, -8.78526741e-01,
       -9.24478560e-01,  1.21221465e+00,  6.18478240e-02, -8.98813756e-01,
       -3.25743266e-01,  1.04729812e+00,  1.75272901e-01,  9.17260005e-01,
       -5.19610320e-01, -7.04392362e-01,  1.33669918e+00,  1.95210228e+00,
       -1.09670727e+00, -1.21805270e+00,  1.37916365e+00,  6.15352107e-01,
        1.78197772e+00,  7.22333560e-01, -1.05942043e+00, -6.68682387e-02,
       -1.45956422e-01,  1.47689785e-01, -3.17252207e+00, -1.20819279e+00,
        5.74544762e-01,  1.13640173e+00, -9.03152726e-01, -8.81995201e-01,
       -2.97186847e+00, -9.13861199e-01,  1.19821869e+00,  6.67913671e-01,
       -1.31650037e-01, -3.01510579e+00, -2.04687956e+00,  5.48304004e-01,
       -3.14841082e-01,  2.38075991e+00,  2.68858935e+00, -1.15287287e+00,
        1.76713649e+00, -1.11368270e+00,  1.87577628e+00, -3.44629188e-01,
        1.55770789e+00,  1.15502424e+00,  2.48162434e+00, -6.11690672e-01,
        1.08334885e+00, -1.37062691e+00, -5.88504442e-01,  5.66539210e-01,
       -1.49666544e+00,  3.60966437e+00, -1.93760533e+00, -1.75111504e-01,
        1.64557913e+00, -1.16595680e+00,  4.95005714e-01, -4.48710713e-01,
       -9.00614017e-01, -1.11422907e+00,  2.98428354e+00, -2.23820531e-01,
       -1.07758623e-02, -1.54620766e+00,  1.03996767e-01, -1.01722645e+00,
       -2.11999237e+00,  3.61605886e-01,  2.35214852e+00, -1.16338368e-01,
        4.41936019e-01,  1.37066172e+00,  8.47026467e-01,  1.63095163e+00,
        6.30541463e-01, -1.52949187e+00,  5.39582896e-01,  2.14923228e-01,
        2.21789568e+00,  3.98799321e-01, -1.31738471e+00, -7.57579759e-01,
       -1.95681522e+00,  1.66088054e+00, -2.59979632e+00,  8.89691601e-01,
       -7.64998718e-01, -2.42590775e+00, -2.47399199e-01,  9.19401113e-01,
        5.29241055e-01,  1.24388685e+00,  3.66856938e+00,  7.60626061e-01,
       -2.65310019e+00,  3.77143874e+00, -5.90768686e-01,  2.33323698e+00,
       -1.18224291e+00, -7.01235050e-01,  1.79213526e-02,  1.19054495e+00,
       -1.91668517e+00,  2.71373940e+00,  7.95582731e-01,  1.57056312e+00,
       -2.61840743e-01, -7.65342070e-01, -2.03517193e-02,  9.94065476e-01,
       -8.84615938e-01, -1.86089713e+00, -1.53429353e-01,  3.55390036e-01,
        2.49832326e+00, -9.55316649e-01,  1.54138907e-01, -3.53711298e+00,
       -7.00683424e-01,  1.35371515e+00,  1.16256787e-01, -8.92765821e-01,
       -1.00497557e+00, -1.22409307e+00,  1.91546459e+00, -9.91717961e-02,
        3.89482637e-01, -1.36025702e+00, -1.62988452e+00, -3.73308116e-02,
       -1.04307634e+00,  9.36502287e-01, -1.47645785e-01,  1.47219630e+00,
        1.31222498e+00,  1.95442957e-01, -1.27773791e+00, -1.38183544e+00,
        1.57630906e-01, -1.09045824e+00,  2.65495852e+00, -8.86579094e-01,
       -1.44644177e+00, -2.07163796e-01,  3.21709588e+00, -1.53792200e+00,
        1.51511432e+00, -2.55265306e-01, -1.39662559e+00, -1.43794818e+00,
       -4.44321555e-01, -6.00292571e-01, -1.32475434e+00,  1.31451477e+00,
        1.82481759e+00, -2.11175782e+00, -2.81636267e+00, -5.28465203e-01,
       -2.95921709e-01,  1.59442490e+00,  1.59274451e-01,  1.21302201e+00,
        7.62974186e-01,  1.06210290e+00,  7.92231665e-02,  7.26141528e-01,
        5.08059256e-01,  1.14092802e+00,  1.96991759e-01, -6.93533622e-01,
       -1.68473414e+00,  1.50042980e+00, -1.86876945e+00,  2.50782831e+00,
       -1.69744902e+00,  2.12842265e-01, -2.15924673e+00,  1.26006835e+00,
        2.06475372e+00, -1.39668816e+00,  3.79506354e+00,  4.05545068e-01,
        9.65436438e-01, -9.88967514e-01, -1.41137675e+00,  2.40078919e+00,
       -1.57299346e+00, -3.07215233e-01,  1.15609236e+00,  6.87712339e-01,
       -1.42836802e+00,  1.02955034e+00,  1.60650096e-01,  1.32306449e+00,
       -4.15104609e-01, -1.02450949e+00, -6.50877647e-01,  1.21628209e+00,
       -8.11033130e-01, -1.84122425e+00, -1.66470793e+00,  1.63950724e+00,
       -1.20436689e+00,  1.22210984e+00,  2.12955972e-01,  1.77482000e+00,
        1.63679398e+00, -7.11427234e-01,  7.91685577e-01,  2.69503866e+00,
        2.06320541e+00,  2.91145123e+00,  8.18278745e-01,  1.45124984e-01,
        5.59278928e-01,  7.29796091e-01,  1.88363664e+00, -7.73150467e-01,
       -1.38143974e+00,  7.93730941e-01, -4.46661453e-01,  2.90827282e+00,
        7.25452710e-01,  8.78649762e-02,  7.01839178e-01, -3.75246437e-01,
        6.10660693e-01, -2.63319044e-01,  2.63706444e+00, -1.65695259e+00,
       -2.47819067e+00,  3.39247657e-01, -7.31079883e-02,  2.73026524e+00,
       -1.94866479e+00,  3.21343782e-01,  5.55616269e-01, -1.56033586e+00,
       -1.73653610e+00,  2.67398927e+00,  1.28132278e+00,  2.61287978e-01,
        3.79620848e-02,  2.01552600e+00, -9.21775814e-01, -1.58163383e+00,
        1.38076966e+00, -2.42003344e-01, -3.94799594e-02,  7.36216734e-01,
       -6.64942623e-01,  2.74150291e-01,  7.14678477e-01,  1.78322418e+00,
       -2.13834471e+00,  9.51410728e-01, -2.76404663e+00, -5.08303732e-01,
       -1.39953362e+00, -3.16957872e-01,  1.67406264e+00, -4.14204346e-01,
        1.07216717e+00,  1.74406567e-01,  4.32538533e-01,  4.38585890e-01,
        1.76149186e+00, -2.53278492e+00,  1.59213103e+00,  1.80526736e+00,
        1.49795041e+00,  1.73689826e+00, -2.20570722e+00, -3.78234801e-02,
       -1.00449610e+00, -4.44511679e-01,  9.35802354e-01, -2.30687227e+00,
       -1.70240299e+00,  5.22684343e-04,  7.27209960e-01, -1.36359589e+00,
        1.89281025e+00, -1.29720412e-01, -2.46860126e-01, -2.74441785e+00,
        2.27596073e+00, -4.87923605e-01, -5.95263147e-02, -7.42311782e-01,
        1.41099581e-01, -3.90363782e-01,  1.27355023e+00, -7.22828831e-01,
        1.30499157e+00,  4.76575764e-01,  1.56715564e+00,  1.28959768e-01,
       -8.61292447e-01, -8.00130806e-01, -7.70333151e-01,  1.30750860e+00,
        5.25683718e-01, -1.75699169e+00, -2.33572627e+00,  3.15286346e+00,
       -8.92869874e-01,  5.10758433e-01, -2.96102244e-01,  4.57978560e-01,
       -1.82089185e+00,  1.68395090e+00,  1.42625546e-01, -3.55997431e-01,
       -6.05909809e-01, -5.43243012e-01,  2.05427275e+00, -5.82375429e-01,
       -3.29030255e-01,  4.51257878e-01,  1.66838899e+00,  1.96665167e+00,
       -2.46886009e+00,  9.06593348e-01, -7.36973687e-01, -7.30716163e-01,
        1.19495909e+00, -4.40916628e+00, -1.52764366e-01,  1.58001637e+00,
       -2.11242656e+00,  2.05448114e+00,  2.46319161e+00,  2.43596034e+00,
       -4.40712731e-01, -1.16074759e+00,  1.64664525e+00,  7.30428272e-01,
        1.87816288e+00,  3.22157485e+00,  1.26152300e+00, -7.44767602e-01,
       -4.09233161e-01, -4.60374539e-01,  2.45338090e-01, -2.77027559e+00,
        1.85519590e+00,  1.35143233e+00,  6.81780244e-01, -2.73046774e-01,
       -1.56885470e+00,  1.50261430e-01, -6.03125782e-01, -3.90863392e-01,
        8.35623241e-01, -4.61109369e-01,  2.91506773e-01, -2.08196309e+00,
        1.66795740e+00,  1.77039600e-01, -9.26330874e-01,  1.09025278e+00,
        6.80673123e-01,  5.09905813e-01, -1.05901691e+00, -6.21893349e-01,
       -4.99232273e-01, -1.19531432e+00,  1.33110513e+00, -6.01666308e-01,
        1.12604054e+00,  1.69670903e+00,  2.44755525e+00,  1.05939636e+00,
       -5.00517832e-01,  1.47042182e+00,  1.50233751e+00,  9.35243700e-01,
       -1.62597125e+00,  3.19554462e-01, -6.40445743e-02,  1.03070945e+00,
        3.32377141e-01, -1.49784678e+00, -8.41321357e-01, -1.23746400e+00,
        6.35035009e-01, -2.08690645e+00,  9.83043110e-01,  9.32115825e-01,
        2.41126254e+00,  6.75026536e-01,  1.09275314e+00,  1.58228152e+00,
        1.01230985e+00, -2.69015505e+00,  1.41159765e+00,  1.04856206e+00,
       -1.58255774e+00, -5.33470293e-01,  3.78478528e-01,  3.54885648e+00])

In [123]:
np.sqrt((c**2).sum())

32.71363043527024

In [124]:
np.linalg.norm(x - y)

32.71363043527024

Задание 8.

In [125]:
max = X.max(axis=0)
max

array([228, 236, 220, 252, 254])

In [126]:
min = X.min(axis=0)
min

array([48,  0,  6, 66,  6])

In [127]:
X_norm = ((X - min) / (max - min))
X_norm

array([[0.        , 0.75423729, 0.41588785, 0.15053763, 0.41532258],
       [0.81111111, 0.11864407, 0.20560748, 0.        , 0.45967742],
       [0.63888889, 0.97881356, 0.93457944, 0.2311828 , 0.        ],
       [0.73888889, 0.68220339, 0.        , 0.22043011, 0.05645161],
       [0.58333333, 0.        , 0.27570093, 1.        , 0.68548387],
       [0.56111111, 0.22881356, 1.        , 0.29569892, 0.68145161],
       [1.        , 1.        , 0.23364486, 0.06451613, 0.81451613],
       [0.78333333, 0.22033898, 0.78504673, 0.8655914 , 1.        ],
       [0.1       , 0.47033898, 0.04205607, 0.27419355, 0.55645161],
       [0.56111111, 0.14830508, 0.81775701, 0.66129032, 0.55241935]])

In [128]:
X_norm.max(), X_norm.min()

(1.0, 0.0)

Тема “Работа с данными в Pandas”

Задание 1.

In [129]:
import pandas as pd

In [130]:
authors = pd.DataFrame({'author_id': [1, 2, 3],'author_name': ['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [131]:
books = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],'price': [450, 300, 350, 500, 450, 370, 290]})
books

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание 2.

In [132]:
authors_price = pd.merge(authors, books, on='author_id', how='inner')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3.

In [133]:
top5 = authors_price.nlargest(5,'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание 4.

In [134]:
authors_stat = authors_price.groupby('author_name').agg({'price':['min', 'max', 'mean']})
authors_stat = authors_stat.rename(columns={'min':'min_price', 'max':'max_price', 'mean':'mean_price'})
authors_stat

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

Задание 5.

In [135]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [136]:
book_info = pd.pivot_table(authors_price, values='price', index='author_name', columns='cover', aggfunc='sum', fill_value=0)
book_info

cover        мягкая  твердая
author_name
Островский      660        0
Тургенев        650      450
Чехов             0      950

In [137]:
book_info.to_pickle('book_info.pkl')

In [138]:
book_info2 = pd.read_pickle('book_info.pkl')

In [139]:
book_info.equals(book_info2)

True

Задание 6.

In [140]:
df = pd.read_csv('C:\\Users\\tanbe\\Desktop\\netflix_titles.csv')

In [141]:
df.shape

(7787, 12)

в этом датасете представлено 7787 наблюдений и 12 признаков

In [142]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [143]:
df['type'].value_counts()

Movie      5377
TV Show    2410
Name: type, dtype: int64

в этом датасете представлено 2410 сериалов и 5377 фильмов

In [144]:
missed_d = df['director'].isnull().sum()
print(f'Пропущенных значений (NaN) в признаке director: {missed_d}')

Пропущенных значений (NaN) в признаке director: 2389

In [145]:
missed_c = df['country'].isnull().sum()
print(f'Пропущенных значений (NaN) в признаке country: {missed_c}')

Пропущенных значений (NaN) в признаке country: 507

In [146]:
release_year = df.loc[df['release_year'] < 2003, 'release_year'].count()
print(f'Количество фильмов, выпущенных раньше 2003: {release_year}')

Количество фильмов, выпущенных раньше 2003: 564

In [147]:
df['country'].value_counts().nlargest(1)

United States    2555
Name: country, dtype: int64

США чаще всего выпускает фильмы на Netflix

Задание 7.

In [148]:
df['year_added'] = pd.DatetimeIndex(df['date_added']).year

In [149]:
df['month_added'] = pd.DatetimeIndex(df['date_added']).month

In [150]:
df['day_added'] = pd.DatetimeIndex(df['date_added']).day
df.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,year_added,month_added,day_added
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,2020.0,8.0,14.0
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,2016.0,12.0,23.0
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2018.0,12.0,20.0
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",2017.0,11.0,16.0
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,2020.0,1.0,1.0

Задание 8.

In [151]:
new_df = df.copy()

In [152]:
new_df = new_df.loc[new_df['country'].isin(['United States', 'India', 'United Kingdom']), :]

In [153]:
pd.pivot_table(new_df, values='title', index=['country', 'type'], aggfunc='count', columns=df['month_added'])

month_added             1.0   2.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   \
country        type
India          Movie      65    45    83    72    65    40    69    70    55
               TV Show     2     2    12    14     5     7     7     4     1
United Kingdom Movie      17    16    20    12    18    14     7    18    16
               TV Show    13    17    34    14    10     7    16    22    19
United States  Movie     245   118   156   139   109   112   144   143   128
               TV Show    61    45    49    47    46    43    55    55    81

month_added             10.0  11.0  12.0
country        type
India          Movie      97    87   104
               TV Show     8     3     6
United Kingdom Movie      22     8    25
               TV Show    22     9    20
United States  Movie     172   210   174
               TV Show    68    69    80